body {
    background-color: blue;
}

p {
    margin: auto;
    padding-top: 10px;
    border: 5px dotted yellowgreen;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

h1.content-title1 {
    background-color: tomato;
}

h2.content-title2 {
    background-color: lightsalmon;
}

#spacing
{   
    margin-top: 50px;
}

#spacing1
{   
    margin-top: 200px;
}
#clock {
    height: 80px;
    width: 500px;
    margin: auto; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(88, 53, 53);
    font-size: 80px;
    border: 10px solid yellowgreen;
    border-radius:20px;
    padding: 10px 10px 10px 10px;
}

#Reset {
    position: auto;
    top: 50%;
    left: 50%;
    font-size: larger;
    font-weight: bolder;
}

#alarm-container {
	text-align:center;
    font-family: Verdana;
    font-size: 0.6em;
    padding: 0.7em;
    color: white;
}

label {
	display:inline-block;
}
#setButton {
    float:left;
    background-color:lightgreen;
    margin-top:10px;
}
#clearButton {
    float:right;
    background-color:red;
    margin-top:10px;
}